/* ------------- */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 15vh;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: salmon;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background-color: salmon;
}

.subheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 10vw;
  margin-right: 10vw;
}

.new-item-popup {
  text-align: center;
  background-color: yellow;
  top: 12vh;
  z-index: 2;
  padding-bottom: 2vh;
  padding-top: 2vh;
  width: 100vw;
}

.hover-basket {
  background-color: salmon;
}